.HTML{
    position:absolute;
    width:25%;
    left:6.25%;
    height: 1000px;
}

.CSS{
    position:absolute;
    width:25%;
    height:1000px;
    left:37.5%;
}

.JS{
    position:absolute;
    width:25%;
    height:1000px;
    left:68.75%;
}   

.Libraries{
    position:absolute;
    width:90%;
    left:10%;
    top:1110px;
}

.addLib{
    background-color:green;
    height:30px;
    width:30px;
}

.subLib{
    background-color:red;
    height:30px;
    width:30px;
}